<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (task()) {
      <div>
        <h2 data-cy="taskDetailsHeading"><span jhiTranslate="projectTrackingApp.task.detail.title">Task</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ task()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="projectTrackingApp.task.title">Title</span></dt>
          <dd>
            <span>{{ task()!.title }}</span>
          </dd>
          <dt><span jhiTranslate="projectTrackingApp.task.description">Description</span></dt>
          <dd>
            <span>{{ task()!.description }}</span>
          </dd>
          <dt><span jhiTranslate="projectTrackingApp.task.creationDate">Creation Date</span></dt>
          <dd>
            <span>{{ task()!.creationDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="projectTrackingApp.task.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'projectTrackingApp.TaskStatus.' + (task()!.status ?? 'null')">{{
              { null: '', NEW: 'NEW', IN_PROGRESS: 'IN_PROGRESS', COMPLETED: 'COMPLETED' }[task()!.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="projectTrackingApp.task.project">Project</span></dt>
          <dd>
            @if (task()!.project) {
              <div>
                <a [routerLink]="['/project', task()!.project?.id, 'view']">{{ task()!.project?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/task', task()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
